<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719741244172-jiuo1ten7og98c1hc67n5mmnfth5uqcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719741244172-jiuo1ten7og98c1hc67n5mmnfth5uqcr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>719741244172-7krsdei8rduaic9gg9v5psdcco8u9dd8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ4sn0ZfvuX3UYyOTX5WDelsKvVyeWefo</string>
	<key>GCM_SENDER_ID</key>
	<string>719741244172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thetriblnetwork.tribl</string>
	<key>PROJECT_ID</key>
	<string>tribl-chat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tribl-chat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719741244172:ios:35af3b056f08c749ff6f29</string>
	<key>DATABASE_URL</key>
	<string>https://tribl-chat-app.firebaseio.com</string>
</dict>
</plist>